html , body{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}


/*------------------------HEADER-------------------------------*/
#header{
    width: 100%;
    height: auto;
}

.header__information{
    display: flex;
    padding: 0 4% 0 4%;
    height: 60px;
    background-color: #f7f7f7;
}
.header__information__logo{
    margin-top: auto;
    cursor: pointer;
}
.header__information__items{
    margin-left: 40%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.header__information__items span{
    margin: auto;
    margin-left: 10px;
    font-size: 13px;
    cursor: pointer;
}
.header__information__items span:nth-child(4){
    margin: auto;
    font-size: 17px;
}
/*----------------------------------------------------------------*/

.header__navBar{
    width: 100%;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background: #fff;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.header__navBar__desplegable{
    padding: auto;
    background: #67b500;
    color: white;
    margin-left: 4%;
}
.header__navBar__desplegable svg{
    margin-left: auto;
    height: 23px;
    width: 23px;
}
.header__navBar__desplegable svg path{
    fill: white;
}
.header__navBar__selectors{
    margin: auto;
}
.header__navBar__selected{
    margin: auto;
    padding: 11px;
    border-bottom: 3px solid #67b500;
}
.last{
    margin-right: 4%;
}
.header__navBar__desplegable__menu{
    font-size: 10px;
    padding: 0 5px 0 5px;
    margin: auto;
}
/*----------------------------------------------------------------*/
main{
   background-color: #f7f7f7;
}

.inpage{
    padding: 20px 0 0 4%;
    text-align: left;
    font-size: 12px;
}
.inpage__father{
    color: #67b500;
}
.inpage__icon{
    font-size: 8px;
    padding: 0 3px 0 3px;
}
 
.filter{
    justify-content: space-between;
    width: 92%;
    margin: 20px 4% 0 4%;
    text-align: left;
}
.filter span{
    margin: 25px 5% 0 0 ;
    padding: 5px 20px 5px 20px;
    color: white;
    background-color: #67b500;
}
/*----------------------------------------------------------------*/

/*-------------------------CAJA-Con-Ofertas------------------------*/
.saleBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px 10% 0 10%;
    padding: 3% 5%;
}
.sale{
    background-color: white;
    height: 320px;
    width: 40%;
    margin-bottom: 20px;
    cursor: pointer;
}
.sale__image{
    height: 200px;
    width: 100%;
    margin-bottom: 5px;
    /* background-image: url(./fotos/1.jpg);
    background-repeat: no-repeat; */
   
}
.sale__image img{
    width: 100%;
    height: 200px;
   
}
.sale__information{
    height: 80px;
}
.sale__information div{
    text-align: left;
}
.sale__information div h3{
    margin: 0 0 5px 5px;
    font-size: 14px;
}
.sale__information div p{
    margin: 0 0 0 5px;
    font-size: 10px;
}
.sale__information__price{
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 0 15px;
}
.sale__information__price div p {
    font-size: 13px;
    margin: 0;    
    text-align: left;
    padding-left: 3px;
}
.sale__information__price div div{
    font-size: 22px;
    margin: 0 0 0 5px;
    text-align: left;
    color: #67b500;
}
.sale__information__button button{
    background-color: white;
    color: #67b500;
    border: 1px solid #67b500;
    font-size: 13px;
    margin-top: 5px;
    padding: 5px;
}
/*---------------------OFERTAs-DE-VIAJES---------------------*/
.description{
    text-align: left;
    margin: 30px 24% 0 24%;
    background-color: white;
    padding: 5px 2% 5px 2%;
}

footer{
    padding: 50px 0 0 0;
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
}
footer img{
    width: 100%;
    height: auto;
}